@import "../../../variables.scss";
.new-city {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  box-shadow: 2px 4px 4px $background-light-list-pink;
  padding: 5px 10px;
  margin-bottom: 10px;
  gap: 10px;
  background-color: $light-secondary-color;
  cursor: pointer;
  button {
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      object-fit: cover;
      object-position: center;
    }
  }
}

header {
  position: sticky;
  top: -20px;
  background-color: white;
}
