<p-sidebar
  [(visible)]="visible"
  position="right"
  [showCloseIcon]="false"
  [dismissible]="false"
  [closeOnEscape]="false"
  [style]="{ width: '100%' }"
>
  <main>
    <form
      #myForm="ngForm"
      (ngSubmit)="myForm.valid && validation() && validate()"
    >
      <header>
        <span *ngIf="editMode">
          You are editing the city <span>{{ city.name | titlecase }}</span>
        </span>
        <span *ngIf="!editMode"> Add new city </span>
      </header>
      <div class="input-label">
        <label for="cityName">Capital Name <span class="error">*</span></label>
        <input
          type="text"
          id="cityName"
          name="cityName"
          [(ngModel)]="city.name"
          #title="ngModel"
          required
          minlength="2"
        />
        <div *ngIf="title.errors" class="error">
          <span *ngIf="title.errors?.['required']">City is required</span>
          <span *ngIf="title.errors?.['minlength']"
            >Length must be greater than 2</span
          >
        </div>
      </div>
      <div class="input-label">
        <label for="cityCountry">Country <span class="error">*</span> </label>
        <input
          type="text"
          id="cityCountry"
          name="cityCountry"
          [(ngModel)]="city.country"
          #country="ngModel"
          required
          minlength="2"
        />
        <div *ngIf="country.errors" class="error">
          <span *ngIf="country.errors?.['required']">Country is required</span>
          <span *ngIf="country.errors?.['minlength']"
            >Length must be greater than 2</span
          >
        </div>
      </div>
      <div class="input-label">
        <label for="cityImgUrl">Image </label>
        <input
          type="text"
          id="cityImgUrl"
          name="cityImgUrl"
          [(ngModel)]="city.imgUrl"
        />
      </div>
      <div class="input-label">
        <label for="cityPopulation"
          >Population <span class="error">*</span></label
        >
        <input
          type="number"
          id="cityPopulation"
          name="cityPopulation"
          [(ngModel)]="city.population"
        />
        <div *ngIf="city.population <= 0" class="error">
          <span>Population must be positive</span>
        </div>
      </div>
      <div class="input-label">
        <label for="cityLat"
          >Capital Latitude <span class="error">*</span></label
        >
        <input
          type="number"
          id="cityLat"
          name="cityLat"
          [(ngModel)]="city.latitude"
          required="true"
        />
        <div *ngIf="!(city.latitude >= -90 && city.latitude <= 90)">
          <span>City exists ? On earth ?</span>
        </div>
      </div>
      <div class="input-label">
        <label for="cityLng"
          >Capital Longitude <span class="error">*</span></label
        >
        <input
          type="number"
          id="cityLng"
          name="cityLng"
          [(ngModel)]="city.longitude"
        />
        <div
          *ngIf="!(city.longitude >= -180 && city.longitude <= 180)"
          class="error"
        >
          <span>City exists ? On earth ?</span>
        </div>
      </div>
      <div class="control">
        <button [ngClass]="'not-active'" (click)="cancel()" type="button">
          Cancel
        </button>
        <button (click)="validate()" [ngClass]="'active'" type="button">
          Validate
        </button>
      </div>
    </form>
  </main>
</p-sidebar>
