<p-sidebar
  [(visible)]="visible"
  position="right"
  [showCloseIcon]="false"
  [dismissible]="false"
  [closeOnEscape]="false"
  [style]="{ width: '100%' }"
>
  <main>
    <form
      [formGroup]="cityForm"
      #myForm="ngForm"
      (ngSubmit)="myForm.valid && validate()"
    >
      <header>
        <span> Ajouter une nouvelle capitale </span>
      </header>
      <div class="input-label">
        <label for="cityName">Nom <span class="error">*</span></label>
        <input
          type="text"
          id="cityName"
          name="cityName"
          formControlName="name"
        />
        <div class="error" *ngIf="myForm.submitted">
          <span *ngIf="cityForm?.get('name')?.errors?.['required']">
            Le nom est obligatoire</span
          >
          <span *ngIf="cityForm?.get('name')?.errors?.['minlength']">
            Au moins 2 Charactères
          </span>
        </div>
      </div>
      <div class="input-label">
        <label for="cityCountry">Pays <span class="error">*</span> </label>
        <input
          type="text"
          id="cityCountry"
          name="cityCountry"
          formControlName="country"
        />
        <div *ngIf="myForm.submitted" class="error">
          <span *ngIf="cityForm?.get('country')?.errors?.['required']">
            Le pays est obligatoire</span
          >
          <span *ngIf="cityForm?.get('country')?.errors?.['minlength']">
            Au moins 2 Charactères</span
          >
        </div>
      </div>
      <div class="input-label">
        <label for="cityImgUrl">Image </label>
        <input
          type="text"
          id="cityImgUrl"
          name="cityImgUrl"
          formControlName="imgUrl"
        />
      </div>
      <div class="input-label">
        <label for="cityPopulation"
          >Population <span class="error">*</span></label
        >
        <input
          class="no-arrow"
          type="number"
          id="cityPopulation"
          name="cityPopulation"
          formControlName="population"
        />
        <div *ngIf="myForm.submitted" class="error">
          <span *ngIf="cityForm?.get('population')?.errors?.['required']">
            La population est obligatoire</span
          >
          <span *ngIf="cityForm?.get('population')?.errors?.['validRange']">
            La population doit être un nombre positif</span
          >
        </div>
      </div>
      <div class="input-label">
        <label for="cityLat">Latitude <span class="error">*</span></label>
        <input
          type="number"
          id="cityLat"
          name="cityLat"
          formControlName="latitude"
        />
        <div *ngIf="myForm.submitted" class="error">
          <span *ngIf="cityForm?.get('latitude')?.errors?.['required']">
            La latitude est obligatoire</span
          >
          <span *ngIf="cityForm?.get('latitude')?.errors?.['validRange']">
            La latitude doit être dans cet interval [-90, +90]</span
          >
        </div>
      </div>
      <div class="input-label">
        <label for="cityLng">Longitude <span class="error">*</span></label>
        <input
          type="number"
          id="cityLng"
          name="cityLng"
          formControlName="longitude"
        />
        <div *ngIf="myForm.submitted" class="error">
          <span *ngIf="cityForm?.get('longitude')?.errors?.['required']">
            La latitude est obligatoire</span
          >
          <span *ngIf="cityForm?.get('longitude')?.errors?.['validRange']">
            La longitude doit être dans cet interval [-180, +180]</span
          >
        </div>
      </div>
      <div class="control">
        <button [ngClass]="'not-active'" (click)="cancel()" type="button">
          Annuler
        </button>
        <button [ngClass]="'active'" type="submit">
          <span> Créer </span>
        </button>
      </div>
    </form>
  </main>
</p-sidebar>
