@import "../variables.scss";
main {
  height: calc(100% - 110px);
  header {
    margin: 0 auto;
    width: clamp(600px, 80%, 1200px);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $primary-color;
    padding: 0 40px;
    color: $anti-primary-color;
    border-radius: 20px;

    p.title {
      font-size: 24px;
      font-weight: 700;
    }

    p.intro {
      span {
        font-weight: 700;
      }
    }
  }
  body {
    display: flex;
    height: calc(100vh - 120px);

    .container-outlet {
      height: calc(100vh - 120px);
      padding: 20px;
      flex-grow: 1;
      overflow-y: scroll;
    }
  }
}
