<article>
  <header>A propos de {{ city.name | titlecase }}</header>
  <body>
    <img [src]="city.imgUrl" alt="country image" width="300" height="200" />
    <h2 class="title">{{ city.name | titlecase }}</h2>

    <ul>
      <li>Population : {{ city.population }}</li>
      <li>Pays : {{ city.country | titlecase }}</li>
      <li>Longitude : {{ city.longitude }}</li>
      <li>latitude : {{ city.latitude }}</li>
    </ul>
    <div class="control">
      <button [ngClass]="'not-active'" (click)="showEditModal = true">
        Editer
      </button>
      <button (click)="showDeleteModal = true" [ngClass]="'active'">
        Supprimer
      </button>
    </div>
  </body>
</article>

<dialog-generic
  [active]="showDeleteModal"
  [cityName]="city.name"
  (onClear)="showDeleteModal = false"
  (onValidate)="delete()"
></dialog-generic>

<edit-city
  [city]="city"
  [visible]="showEditModal"
  (onCancel)="showEditModal = false"
></edit-city>
