@import "../../variables.scss";

article {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 350px;
  height: 500px;
  padding: 20px 10px;
  margin: 10px 20px;
  background-color: antiquewhite;
  border-radius: 10px;
  header {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
  }
  body {
    h2 {
      margin-top: 5px;
    }
    img {
      border-radius: 5px;
    }
    ul {
      text-decoration: none;
      list-style: none;
      li {
        padding: 5px 10px;
      }
      li:nth-child(even) {
        background-color: $background-light-list;
        border-radius: 5px;
      }
    }
  }
}

.active {
  background-color: $primary-color;
  color: $anti-primary-color;
}
.not-active {
  color: $primary-color;
  background-color: $background-light-list;
}
