$primary-color: #191919;
$anti-primary-color: #ffffff;

$secondary-color: #fed100;
$light-secondary-color: #f8f2d7;

$font-color-grey: #dfe7e8;
$background-light-list: #fff4e8;
$background-light-list-pink: #d5d5c9;
