$primary-color: #191919;
$anti-primary-color: #ffffff;

$secondary-color: #fed100;
$light-secondary-color: #d3d3d3;
// $light-secondary-color: #f8f2d7;

$background-light-list: #cac8c8;
$background-light-list-pink: #d5d5c9;
