$primary-color: #191919;
$anti-primary-color: #ffffff;

$secondary-color: #fed100;
$light-secondary-color: #e7e4e4;
// $light-secondary-color: #f8f2d7;

$background-light-list: #dbd8d8;
$background-light-list-pink: #d5d5c9;
